[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
asgiref = "*"
pytz = "*"
sqlparse = "*"
Django = "*"
Pillow = "*"
google-api-python-client = "==1.4.1"
django-3-jet = "*"

[dev-packages]
pytest = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
