asgiref
attrs
certifi
charset-normalizer
Django
django-3-jet
google-api-python-client
gunicorn
httplib2
idna
iniconfig
oauth2client
packaging
Pillow
pluggy
py
pyasn1
pyasn1-modules
pyparsing
pytest
pytz
requests
rsa
six
sqlparse
toml
uritemplate
urllib3
whitenoise