/*  Reset Setting Start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 0px;
}


/*  Reset Setting End */




/* Main Start*/



/* Main End*/





/* Profile Start */

header{
    width: 260px;
    height: 100vh;
    background-color: #191d2b;
    color: white;
    position: fixed;
    z-index: 10000;
    border-right: 1px solid #2e344e;
    transition: 1s;
    overflow-y: scroll;
}


header .profile-img {
    border-bottom: 1px solid #2e344e;
}

header .profile-img .img{
    margin: 15px auto 20px auto;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 7px solid #2e344e   ;
}

header .profile-img .img img{
    width: 100%;
    height: 100%;
}



header .menu-main{
    padding: 10px 7px 50px 7px;
}


header .menu-main ul li.active{
    background-color: #037fff;
}

header .menu-main ul a.active{
    color: white;
}

header .menu-main ul li{
    text-align: center;
    padding: 15px 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

header .menu-main ul li:hover:before{
    left: 0px;
    transition: 1s;
}

header .menu-main ul li:hover a{
    color: white;
    transition: 0.8s;
}

header .menu-main ul li::before{
    content: '';
    display: block;
    position: absolute;
    width: 245px;
    height: 40px;
    left: -100%;
    top: 2px;
    opacity: 0.8;
    background-color: rgba(3,127,255,.2);
}


header .menu-main ul a{
    font-size: .94rem;
    letter-spacing: 1px;
    padding: 5px 0;
    color: #a4acc4;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}




header .copy-right{
    text-align: center;
    margin-top: 80px;
    padding: 10px;
    border-top: 1px solid #2e344e;
    font-family: Nunito, sans-serif;
    font-size: .94rem;
    letter-spacing: 1px;
    color: #a4acc4;
    font-weight: 600;
}

/* Profile End */




/* Main Start */

main{
    width: 100%;
    height: 100vh;
}

main.main .content{
    margin-left: 260px;
}

main .content{
    margin-left: 270px;
}

/* Main End */



/* Responsive Argument Start*/


.btn{
    top: 40px;
    left: 0px;
    position: fixed;
    z-index: 99999;
    width: 60px;
    height: 60px;
    overflow: hidden;
    transition: 1s;
    display: none;
}

.btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2e344e;
    background-color: #191d2b;
}

.btn i{
    padding: 10px;
    font-size:2rem;
    color: #a4acc4;
}


.open-menu{
    transform: translateX(0%);
    transition: 1s;
}

/* Responsive Argument End*/
