@media screen and (max-width: 1199px) {
    header {
        transform: translateX(-100%);
    }

    .btn {
        display: block;
    }

    main .content {
        margin-left: 0px;
    }
    
    main.main .content {
        margin-left: 0px;
    }

}

@media screen and (max-width: 1060px) {
    .blog, .contact{
        max-width: 800px !important;
    }
}

@media screen and (max-width: 754px) {
    .col .header {
        padding: 150px 60px 0 60px !important;
    }

    .blog, .contact {
        max-width: 600px !important;
    }

    .blog-container{
        flex-direction: column;
    }

    .blog-container .blog-box{
        width: 100% !important;
    }
}

@media screen and (max-width: 992px) {
    .content-aboumtme {
        flex-direction: column !important;
        max-width: 700px !important;
        margin: 0 auto;
    }

    .contact-content{
        flex-direction: column;
    
    }

    .contact-content .info{
        margin-top: 30px;
    }


    .aboutme .title {
        max-width: 700px !important;
        margin: 0 auto;
    }

    .services {
        max-width: 700px !important;
        margin: 0 auto;
    }

    .content-aboumtme .img,
    .content-aboumtme .info {
        width: 100% !important;
    }

    .content-aboumtme .img img {
        width: 100% !important;
    }

    .skill-container{
        flex-direction: column;
    }

}


@media screen and (max-width: 768px) {
    .content-aboumtme {
        flex-direction: column !important;
        max-width: 500px !important;
    }

    .portfolio-box{
        width: 100% !important;
        flex: none !important;
    }


    .aboutme .title {
        max-width: 500px !important;
    }

    .services , .contact{
        max-width: 500px !important;
    }

    .content-services {
        display: flex !important;
        flex-wrap: wrap !important;
    }


    .services .service-box {
        flex: none !important;
        width: 220px !important;
    }
}


@media screen and (max-width: 730px) {
    .content-services {
        flex-direction: row !important;

    }

    .content-aboumtme {
        max-width: 400px !important;
    }


    .aboutme .title {
        max-width: 400px !important;

    }

    .services {
        max-width: 400px !important;
    }

    .services .service-box {
        max-width: 400px;
        width: 100% !important;
        margin: 0 auto;
    }
}


@media screen and (max-width: 603px) {
    #particles-js {
        height: 150vh !important;
    }

    .col .header {
        padding: 90px 10px 0 20px !important;
    }

    .blog, .contact {
        max-width: 500px !important;
    }
}


@media screen and (max-width: 530px) {
    .content-aboumtme , .contact{
        max-width: 350px !important;
    }

    .blog {
        max-width: 400px !important;
    }

    .aboutme .title {
        max-width: 350px !important;

    }


    .resume-container .resume-inner .work{
        flex-direction: column;
    }

    .resume-container .resume-inner .work .info{
        margin-left: 20px;
    }

    .contact .title h1,.portfolio .title h1
    {
        font-size: 2rem;    
    }

    .contact .title span, .portfolio .title span{
        font-size: 3rem;
    }

    .contact-content .info .text{
        font-size: 1rem !important;
    }

    .contact-content .info .icon{
        font-size: 1.4rem !important;
    }


    .services {
        max-width: 350px !important;
    }

    .services .service-box {
        max-width: 350px;
        width: 100% !important;
        margin: 0 auto;
    }

    .portfolio{
        max-width: 300px;
    }

}


@media screen and (max-width: 430px){
    .resume-div{
        max-width: 300px !important;
    }

    .contact .title span{
        font-size: 2.5rem;
    }

    .resume-div .work .info h5{
        font-size: 1.23rem !important;
    }

    .resume-container .resume-inner .info p.place{
        font-size: 1rem;
    
    }

    .resume-container .resume-inner .info p.text{
        font-size: 0.9rem;
    }

    .resume-div .skill-box .skill-inner span{
        font-size: 1rem;
    }

    #index .text h1{
        font-size: 2.6rem;
    }

    #index .text p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 300px){
    .resume-div .skill-box .skill-inner span{
        font-size: 0.9rem;
    }

    #index .text h1{
        font-size: 2.3rem;
    }

    #index .text p{
        font-size: 0.9rem;
    }
}