.skill-container{
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
} 

.skill-container .skill-box{
    flex: 0 0 48%;
}

.skill-container .skill-box h5{
    font-weight: 600;
    font-size: 1.14rem;
    line-height: 1.857rem;
}

.skill-container .skill-box .skill-inner{
    display: flex;
    align-items: center;
}

.skill-container .skill-box .skill-per{
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: #2e344e;
}


.skill-container .skill-box span{
    color: #a4acc4;
    font-size: 1.125rem;
    flex:  0 0 60px;
}

.skill-container .skill-box .skill-per .per{
    height: 100%;
    background-color: #037fff;
}


.resume-container{
    padding-top: 70px;
}

.resume-container .resume-title{
    display: flex;
    gap: 10px;
}

.resume-container .resume-title span{
    padding-top: 2px;
    font-size: 1.4rem;
    color: #a4acc4;
}

.resume-container .resume-inner{
    border-left: 3px solid #2e344e;
}


.resume-container .resume-inner .work{
    margin-top: 23px;
    gap: 20px;
    display: flex;
}

.resume-container .resume-inner .date{
    flex: 0 0 24%;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
    font-size: 1.14rem;
    line-height: 1.857rem;
    color: #a4acc4;
    margin-bottom: 0;
}

.resume-container .resume-inner .date::before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid #2e344e;
    background-color: #10121b;
    position: absolute;
    left: -30px;
    top: 4px;
}

.resume-container .resume-inner .info{
    flex: 0 0 76%;
    margin-top: 10px;
}

.resume-container .resume-inner .info h5{
    font-size: 1.43rem;
    line-height: 2.14rem;
    color: #037fff;
    margin-bottom: 0;
    font-weight: 700;
}

.resume-container .resume-inner .info p.place{
    font-size: 1.14rem;
    line-height: 1.857rem;

}

.resume-container .resume-inner .info p.text{
    font-size: 1.125rem;
    line-height: 1.8rem;
    font-family: Nunito,sans-serif;
    color: #a4acc4;
    font-weight: 400;
    background: #10121b
}