{% extends 'layout.html' %}

{% block content %}
          <!-- Content Start -->
          <main class="main">
            <div class="content">
                <section id="index">
                    <div id="particles-js"></div>
                    <div class="inner">
                        <div class="main">
                            <div class="col">

                                <div class="header">
                                    <div class="text">
                                        <h1>Hi, I am <span>Sevil Rasulova</span></h1>
                                        <p>I am a backend web developer. I can provide clean code and understandable. I  make dynamic website and easy usable admin panel</p>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li><a href="https://www.facebook.com/sevilledev/"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="https://www.medium.com/@sevillerasulova"><i class="fab fa-medium"></i></a></li>
                                            <li><a href="https://github.com/sevilledev"><i class="fab fa-github"></i></a></li>
                                            <li><a href="https://www.youtube.com/channel/UCxk3nP57iZiNdUBVpFX1MyQ"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <!-- Content End -->
{% endblock content %}