.blog{
    padding: 80px 0;
    max-width: 1050px;
    margin: 0 auto;
}


.portfolio-container{
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.portfolio-container .portfolio-box{
    flex: 32%;
    overflow: hidden;
    cursor: pointer;
}

.portfolio-container .portfolio-box img{
    width: 100%;
}

.portfolio-container .portfolio-box .img{
    position: relative;   
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.portfolio-container .portfolio-box .img::before{
    content: '';
    width: 90%;
    height: 82%;
    position: absolute;
    z-index: 2;
    background-color: white;
    opacity: 0.9;
    left: -100%;
    transition: 1s;

}

.portfolio-container .portfolio-box .img:hover::before{
    left: 5%;
    transition: 1s;
}

.portfolio-container .portfolio-box .img .icons{
    position: absolute;
    bottom: -40px;
    visibility: hidden;
    z-index: 100;
    transition: .4s;
    top: 66%;
    transform: translateY(-10%);
}

.portfolio-container .portfolio-box .img .icons i{
    background-color: #a4acc4;
    border-radius: 50%;
    font-size: 1.6rem;
    display: inline-flex;
    padding: 10px;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.portfolio-container .portfolio-box .img:hover .icons{
    visibility: visible;
    top: 50%;
    transition: .7s;
}

.portfolio-container .portfolio-box .img .icons i:hover{
    background-color: #037fff;
    transition: .5s;
}

.portfolio-container .portfolio-box .p-title{
    margin: .7rem 0;
} 

.portfolio-container .portfolio-box .p-title p{
    color: #a4acc4;
    font-size: 1.14rem;
    line-height: 1.857rem;
    font-weight: 500;
}

.portfolio-container .portfolio-box .p-title a{
    color: white;
}

.portfolio-container .portfolio-box .p-title a:hover{
    color: #037fff;
    transition: .8s;
}