.blog_img img{
    width: 100%;
    height: 100%;
}


.blog_inner{
    margin-top: 10px;
}

.blog_inner h1{
    font-size: 2rem;
    line-height: 2.7rem;
    font-weight: 700;
    margin: 1rem 0;
}

.blog_content{
    padding-bottom: 30px;
}

.blog_content p{
    margin: 1rem 0;
    font-size: 18px;
    line-height: 1.8rem;
    font-family: Nunito,sans-serif;
    color: #a4acc4;
    font-weight: 400;
}

.blog_content blockquote{
    margin: 25px 0;
    margin-bottom: 0;
    font-style: italic;
    font-size: 1.2rem;
    border-left: 5px solid #037fff;
    padding: 40px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    margin-left: 25px;
    background: #191d2b;
}

.comment{
    padding: 1rem 0;
}


.comment .info{
    border-bottom: 1px solid #a4acc4;
    margin: 1rem 0;
}

.comment .info .comment-count{
    padding: 0.7rem 0;
    display: inline-block;
    position: relative;
}


.comment .info .comment-count::before{
    content: '';
    position: absolute;
    background-color: #037fff;
    height: 2px;
    width: 100%;
    bottom: -1px;
    z-index: 10;
}

.comment .write_comment{
    display: flex;
    gap: 20px;
}

.comment .write_comment .img{
    flex: 0 0 60px;
    width: 60px;
    height: 60px;
}

.comment .write_comment .img img{
    width: 100%;
    height: 100%;
}


.comment .write_comment form{
    width: 100%;
}

.comment .write_comment textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    outline: none;
    font-size: 1rem;
    border: 1px solid #2e344e;
    background: none;
    color: white;
}

.comment .write_comment form .submit{
    display: flex;
    justify-content: flex-end;

}


.name_surname{
    display: flex;
    gap: 30px;
    margin-bottom: 1rem;
}

.name_surname .name,.name_surname .email{
    flex: 1;
}

input{
    margin: 0 auto;
    width: 99%;
    padding: 15px;
    background-color: transparent;
    outline: none;
    border: 1px solid #2e344e;
    color: white;
    position: relative;
}


.comment .write_comment form .submit button{
    padding: 10px 25px;
    background-color: #037fff;
    font-weight: 800;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.comment .write_comment form .submit button::before{
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: white;
    bottom: 0;
    left: -100%;
    transition: 1s;
}

.comment .write_comment form .submit button:hover::before{
    left: 0%;
    transition: 1s;
}


.comments{
    margin: 2rem 0;
}

.comments .comment-a{
    display: flex;
    gap: 20px;
    margin: 1.3rem 0;
}


.comments .comment-a .img{
    flex: 0 0 60px;
    width: 60px;
    height: 60px;
}

.comments .comment-a .img img{
    width: 100%;
    height: 100%;
}

.comments .comment-a .commenter-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comments .comment-a .commenter-info{
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.comments .comment-a .commenter-info .commenter{
    color: #037fff;
    font-size: 0.8rem;
    font-weight: 700;
}

.comments .comment-a .commenter-info .date{
    font-size: 0.8rem;
    font-weight: 700;
    color: #a4acc4;
}

.comments .comment-a .commenter-info .date::before{
    content: ' • ';
    padding-right: 7px;
}